## Output in Python

In [1]:
print("Hello Data Analytics")

Hello Data Analytics

In [4]:
print( "My roll no",       5657)

My roll no 5657

In [5]:
a = 57657

In [6]:
a

57657

In [7]:
b

NameError: name 'b' is not defined

## Checking Type

In [8]:
type(a)

int

## Assigning Values to Variables

In [9]:
name = 'Mubassir'

In [10]:
name

'Mubassir'

In [11]:
print(name)

Mubassir

In [12]:
name2 = "Leon"

In [13]:
name2

'Leon'

## Formatted vs Raw Output

In [14]:
print('line 1 \n line2')

line 1
 line2

In [15]:
lines = 'line 1 \n line2'

In [16]:
lines

'line 1 \n line2'

In [18]:
ishungry = True

In [19]:
num1 = 7635
num2 = 356

In [22]:
s = num1 + num2

In [23]:
s

7991

## Floor Division (for getting integer output)

In [25]:
5465//656

8

## Exponent Operator

In [26]:
21**3

9261

In [27]:
x = 20
y = 100

In [28]:
x>=y

False

In [30]:
age = input("enter your age")

In [31]:
age

'50'

In [32]:
type(age)

str

In [33]:
age >= 18

TypeError: '>=' not supported between instances of 'str' and 'int'

## Type Casting

In [ ]:
int(age)

In [35]:
age

'50'

In [36]:
age = int(input("enter your age"))

In [37]:
age

68

In [40]:
age = int(input("enter your age"))

if age>=18:
    print('You are eligible for DL')
    print('Now you can apply online for this')
else:
    print('you are not eligible for DL')

print("i am free")

you are not eligible for DL
i am free

In [41]:
age = int(input("enter your age"))

if age<18:
    print('You are not eligible for DL')
elif age > 70:
    print('You should not apply for DL')
else:
    print('you are eligible for DL')

You should not apply for DL

In [42]:
"Leon "+ "Kennedy"

'Leon Kennedy'

In [43]:
num1 = int(input('enter number 1'))
num2 = int(input('enter number 2'))

print(num1+num2)

1191